{% extends "hyperkitty/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block title %}
{% trans 'Register' %} - {{ block.super }}
{% endblock %}

{% block content %}

<div id="register">

<h2>{% trans "Register" %}</h2>

<form action="{{ request.path }}?next={{ next|urlencode }}" method="post" class="form-horizontal">
    {% crispy form %}
</form>

</div>

{% endblock %}
